@import url('https://fonts.googleapis.com/css?family=Cinzel%20Decorative:700|Cinzel%20Decorative:400');

body {
    font-family: 'Cinzel Decorative';
    font-weight: 600;
}

p {
    margin: 5% 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Cinzel Decorative';
    font-weight: 400;
}

html {
    font-size: 110%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

:root {
    --text: #0e1111;
    --background: #f4f6f6;
    --primary: #b5b5b5;
    --secondary: #38b74d;
    --accent: #1ba44d;
}

body {
    background-color: #f4f6f6;
}

nav {
    width: 100%;
    height: 200px;

}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1em;
    font-weight: bold;

}


.grid-item img {
    height: 150px;
}

.callToAction {
    width: 10rem;
    height: 3rem;
    box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
    -webkit-box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
    -moz-box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
    color: #0e1111;
    border-radius: 30px;
    background-color: var(--secondary);
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 20px;
    border: none;

}

/* -////////////////////////BODY */
.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-image: url(../sliki/ce65c180-17f6-4454-a1e7-95eea80f3b57.png);
    background-repeat: no-repeat;
}

.container3 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    background-image: url(../sliki/bgsliki/fa7410b2-5dc2-45ce-adfe-bf02d6fb03f7.png);
    background-repeat: no-repeat;
    background-position: top left;
}


.container2 {
    width: 80%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.container4 {
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    overflow: hidden;

}

.container5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    background-image: url(../sliki/ce65c180-17f6-4454-a1e7-95eea80f3b57.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.container6 {
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-image: url(../sliki/bgsliki/4763f32a-60c5-47e1-869f-52003702c1a1.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.container7 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 40px;

}

.star {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.heading {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h2,
h3 {
    margin-top: -10px;
    font-weight: bold;
    background-color: #f4f6f6;
    width: 50%;
}

.heading h2 {
    margin-bottom: 20px;
}

.container8 {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-image: url(../sliki/reviews\ bg.jpg);
}

.wrapper {
    width: 300%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.pozSlika img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.komentar {
    width: 400px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-radius: 30px;
}

.teksto {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    text-align: center;
    font-weight: 500;

}

.teksto span {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.block {
    width: 50%;
    height: 100%;
    margin: 0 20px;
    display: inline;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.block img {
    width: 100px;
    height: 100px;
}

.relativeSlika img {
    width: 100%;
    height: 90%;
}

.relativeSlika {
    position: relative;
    margin-top: 5%;
}

.absouluteSlika img {
    position: absolute;
    left: 40%;
    width: 300px;
    height: 300px;
    top: 35rem;
}

.text span,
.heading span {
    background: #38B74D;
    background: linear-gradient(to right, #38B74D 9%, #105E2C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.text {
    font-size: 3em;
}

.text2 {
    width: 70%;
    font-size: larger;
    margin-top: 20px;
}

.icons {
    display: flex;
    align-items: start;
    margin-top: 50px;
    border-bottom: 1px solid black;
}

.icons img {
    width: 50px;
    height: 50px;
    margin: 0 20px;

}

.menuButton {
    margin-top: 10px;
    width: 10rem;
    height: 3rem;
    color: #0e1111;
    border-radius: 30px;
    border: none;
    background-color: var(--primary);
    font-family: Book Antiqua;
    font-weight: bold;
    font-size: 20px;
    box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
    -webkit-box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
    -moz-box-shadow: -2px 2px 27px -3px rgba(123, 144, 147, 0.75);
}

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.part1 {
    height: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
    border-top: 1px solid black;
}

.part1 p {
    width: 50%;
    height: 100px;
    margin: 0;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part1 span {
    background: #38B74D;
    background: linear-gradient(to right, #38B74D 9%, #105E2C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.part2 {
    width: 100%;
    height: 50%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.salata {
    width: 20%;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.salata section {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sal {
    width: 90%;
    height: 100%;
}

.cenaaa {
    width: 50px;
    height: 50px;
    z-index: 100;
    transform: translate(100px, -100px);
    position: absolute;
}


.salata p {
    margin: 5% 5%;
    font-size: x-large;
    font-weight: bold;
}

.del {
    width: 50%;
    height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#one {
    border-right: 1px solid black;
}

.cont {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.del img {
    width: 500px;
    height: 500px;
    border-bottom: 1px solid black;
    border-radius: 50px;
}

.del p {
    font-size: 40px;
    font-size: 400;
    color: black;
}

.del span,
.fut1 span {
    background: #38B74D;
    background: linear-gradient(to right, #38B74D 9%, #105E2C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fut1 span {
    font-size: 30px;
}

.del button {
    background-color: #38B74D;
}

.footer {
    width: 100%;
    height: 600px;
    border-top: 0.5px solid black;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del h5 {
    font-weight: 600;
}

.del h2 {
    font-weight: 600;
}

.part1 h2 {
    font-weight: 600;
}

.contejn {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

.fut1 {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fut2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fut2 span {
    font-size: 30px;

}

.fut1 img {
    width: 200px;
    height: 200px;
}

.fut3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fut3 p {
    font-size: 40px;
}

.borderOne,
.borderTwo,
.borderThree {
    overflow: hidden;
    padding-top: 12px;
    padding: 0;

}

.del h5 h6 {
    font-size: 23px;
    padding: 0;
    margin: 0;
    line-height: 1;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    #center {
        opacity: 1;
        display: none;
    }

    .grid-container {
        height: 100px;
    }



    .gleda {
        display: flex;
    }

    .grid-item {
        width: 35%;
    }

    nav {
        height: 100px;
    }

    .logo {
        width: 100%;

    }

    .container {
        width: 100%;
        height: 1000px;
        overflow: hidden;
    }

    .container2 {
        display: block;
    }

    .container3 {
        height: 1000px;
    }

    .text {
        font-size: 1.5em;
    }

    .text2 {
        width: 100%;
    }

    .absouluteSlika img {
        width: 100px;
        height: 100px;
        margin-left: 20%;
        margin-top: 5%;
    }

    .icons img {
        margin: 5px;
    }

    .textanim {
        font-size: 2em;

    }

    .container4 {
        margin-top: 0;
    }

    .part1 p {
        width: 100%;
        margin: 50px 0;
    }

    .cenaaa {
        width: 50px;
        height: 50px;
        z-index: 100;
        position: relative;
        transform: none;
        display: none;
    }

    section .sal {
        width: 10em;
        height: 10em;
    }

    .salata p {
        font-size: 0.7rem;
    }

    .del img {
        width: 100px;
        height: 100px;
    }

    .del h2 {
        font-size: 20px;
    }

    .cont {

        flex-direction: column;
    }

    .del {
        width: 100%;
    }

    .del h5 h6 {
        font-size: 15px;
    }

    .del p {
        font-size: 20px;
    }

    .heading h2,
    h3 {
        font-size: 20px;
    }

    .heading {
        width: 300px;
    }

    .container8 {
        display: flex;
        justify-content: center;
        height: 1000px;
    }

    .pozSlika img {
        width: 100px;
        height: 100px;
    }



    .wrapper {
        width: 300%;
        margin-left: 100%;
    }

    .komentar {
        width: 300px;
        /* s */
    }

    .contejn {
        width: 400px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .fut1 img {
        height: 100px;
        width: 100px;
    }

    .teksto {
        font-size: 9px;
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 387px) {
    .absouluteSlika img {
        display: none;
    }
}

/* @media only screen and (min-width: 480px) and (max-width: 768px) {}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {}

@media only screen and (min-width: 1200px) {} */