.kon1 {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kon2 {
    width: 40%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;

}

.kon3 {
    width: 30%;
    height: 30%;
    display: block;
    justify-content: center;
    align-items: center;
}

.kon3 input {
    width: 400px;
    padding: 10px 5px;
    margin-top: 10px;

}

.kon3 h1 {
    font-size: 50px;
    margin-left: 70px;
    width: 100%;

    font-family: cursive;
}

.lok1 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.lok2 {
    width: 80%;
    border-bottom: 1px solid grey;
    font-size: 22px;
    display: inline-block;
    margin: 10px 0;
    font-family: cursive;
}

.lok2 span {
    font-size: 30px;
}

.lok2 p {
    margin: 15px 0;
}

.lok3 {
    width: 33%;
    height: 140px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}